.custom-size {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    color: white;
}

.my-background {
    background-color: cornflowerblue;
}

.my-font {
    font-family: fantasy;
    color: black;
}

.my-buttons {
    font-family: fantasy;
    font-size: large;
    right: 50px; 
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    right: 50px;
    margin-left: auto;
}